# pysat cache
tmp
.pysat-cache

# gcloud stuff
.gcloudignore
app.yaml

# these copies were made for setting up gcloud server
main.py
gc_sat.py
gc_utility.py
gc_data.py
gc_verifier.py
requirements.txt
